
<div class="card m-3" style="width: 18rem;">

    {% load static %}
    <a class="add-btn btn-floating halfway-fab waves-effect waves-light green accent-3"
               data-id="{{ item.id }}"><i class="material-icons">add</i></a>
    <img class="card-img-top" src="{{ item.image.url }}" alt="Card image cap" style="height: 17rem">

    <div class="card-body">
        <h5 class="card-title">{{ item.name }}</h5>
        <p class="card-text">{{ item.price }}$</p>
        <a href="{% url 'item details' item.id %}" class="btn btn-secondary">Details</a>

    </div>
</div>
