{% extends "base_template.html" %}
{% block content %}
<h1 style="font-style:italic;">Please Join Your Club</h1>
<div class="row" style="margin-top:20px;">
    <form method="post" action="/ubs_project/club_search/">
        {% csrf_token %}
        <div style="margin-left:100px;"></div>
        <input type="text" style="width:300px;height:40px;" name="search_content">&nbsp;&nbsp;
        <a class="btn btn-success float-right" style="width:100px;" role="button"
           href="{% url 'club_search' %}">Reset</a>
        <input class="btn btn-success float-right" type="submit" value="Search" style="width:100px;margin-right:20px">
    </form>
</div>
{% if Joined %}
<div class="alert alert-danger" role="alert" style="margin-top:10px;">
    Joined Clud can't be joined again.
</div>
{% endif %}
{% if NewJoin %}
<div class="alert alert-primary" role="alert" style="margin-top:10px;">
  Join Club Success
</div>
{% endif %}
<table class="table table-striped" style="margin-top:30px">
    <thead>
    <tr>
        <th scope="col">Club Name</th>
        <th scope="col">View Description</th>
        <th scope="col">Owner</th>
        <th scope="col">Create Time</th>
        <th scope="col">Join</th>
    </tr>
    </thead>
    <tbody>
    {% for club in clubList %}
    <tr>
        <td>{{club.title}}</td>
        <td>
            <a class="btn btn-primary" role="button" href="{% url 'club_detail' club.id %}">View Description</a>
        </td>
        <td>
            {{club.created_by}}
        </td>
        <td>
            {{club.created_at}}
        </td>
        <td>
            <a class="btn btn-primary" role="button" href="{% url 'club_join_handler' club.id %}">Join</a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}