{% extends "base_template.html" %}
{% block css %}
<!--load more css-->
<!-- load editor css -->
{% load static %}
<link rel="stylesheet" href="{% static 'editor/css/editormd.css' %}"/>
{% endblock %}

{% block content %}
<form action="{% url 'club_create_handler' %}" method="post">
    {% csrf_token %}
    <!-- fake fields are a workaround for chrome autofill getting the wrong fields -->
    <input style="display: none" type="text" name="fakeusernameremembered"/>
    <input style="display: none" type="password" name="fakepasswordremembered"/>
    <div class="form-group">
        <label>Please Input The Club Name</label>
        <input name="title" type="text" class="form-control" required>
    </div>
    <div class="form-group">
        <label>Club Description</label>
        <!--        <textarea  name="description" type="text" class="form-control" rows="8" required></textarea>-->
        <div id="test-editor">
            <textarea name="description" type="text" class="form-control" rows="8" required></textarea>
        </div>

    </div>
    {% if SameTitle %}
    <div class="alert alert-danger" role="alert">
        Club name has been created, please change it
    </div>
    {% endif %}
    <input type="submit" class="btn btn-primary" value="Create Club Now" style="width:200px">

</form>


{% endblock %}

{% block js %}
<!-- load editor js -->
<script src="{% static 'editor/editormd.js' %}"></script>
<script src="{% static 'editor/languages/en.js' %}"></script>
<script type="text/javascript">
        $(function() {
            var editor = editormd("test-editor", {
                // width  : "100%",
                height : 600,
                syncScrolling : "single",
                path   : "{% static 'editor/lib/' %}"
            });
        });


</script>
{% endblock %}