{% extends "base_template.html" %}
{% block css %}
    <!--load more css-->
    <!-- load editor css -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'editor/css/editormd.css' %}" />
{% endblock %}

{% block content %}


    <div class="container">

        <h2>Club Name  {{ club.title }}</h2>

        <h3>Club Description</h3>
        <div >
            {{ club.description | safe }}
        </div>

        <a class="btn btn-success float-right" style="width:100px;" role="button"
           href="{% url 'club_search' %}">Back</a>
    </div>


{% endblock %}

{% block js %}

{% endblock %}