{% extends "base_template.html" %}
{% block content %}
<h1>Event List</h1>
{% if event_list %}
  <form class="form-inline float-left" action="{% url 'event_list' %}">
    <input class="form-control" type="search" placeholder="" aria-label="Search" name="event_search">
    <button class="btn btn-outline-success" type="submit">Search</button>
  </form>


  <a class="btn btn-success float-right" role="button" href="{% url 'event_create' %}">Create Event</a>
    <table class="table table-striped">
      <thead>
        <tr>
            <th scope="col">Event Title</th>
            <th scope="col">Update</th>
            <th scope="col">Delete</th>
            <th scope="col">author</th>
        </tr>
      </thead>
      <tbody>
      {% for event in event_list %}
        <tr>
          <td><a href="{% url 'event_detail' event.id %}">{{ event.title }}</a></td>
          <td>
              {% if event.created_by.username == user.username%}
                <a class="btn btn-primary" role="button" href="{% url 'event_update' event.id %}">update</a>
              {% endif %}
          </td>
          <td>
              {% if event.created_by.username == user.username%}
                <a class="btn btn-danger" role="button" href="{% url 'event_delete' event.id %}">delete</a>
              {% endif %}
          </td>
            <td>
              {{ event.created_by.username }}
          </td>
        </tr>
      {% endfor %}


      </tbody>
    </table>

{% else %}
    <div class="jumbotron" >
      <h1 class="display-4 ">No event are available.</h1>
      <hr class="my-4">
      <p>create one !</p>
      <a class="btn btn-primary btn-lg" href="{% url 'event_create' %}" role="button">Create Event</a>
    </div>
{% endif %}
{% endblock %}