<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
</head>
<body>
<h1>event_list  <a href="{% url 'event_create' %}">create event</a> </h1>

{% if event_list %}
    <ul>
    {% for event in event_list %}
        <li><a href="{% url 'event_detail' event.id %}">{{ event.title }}</a>
            <a href="{% url 'event_update' event.id %}"> <input type="button" value="update"></a>
            <a href="{% url 'event_delete' event.id %}"> <input type="button" value="delete"></a>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No event are available.</p>
{% endif %}

</body>
</html>